@media (max-width: 450px) {
    article{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    #sobre img{
        display: none;
    }

    #games article{
        flex-direction: column-reverse;
    }

    #cursos img{
        display: none;
    }

    #contato #foto_contato{
        display: none;
    }

    #depoimentos{
        padding: 0px;
        background-color: var(--preto);
    }
    #depoimento div{        
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .caixa_depoimentos{
        flex-direction: column;
    }
    #caixa{
        background-color: transparent;
    }

    #depoimentos div{
        border-radius: 0px;
    }

    #caixa_social{
        flex-direction: column;
    }
    
}